<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>ErrorPage</title>
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class=" main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="images/404.png" alt="error" title="ErrorPage" class="img-fluid">
                    </figure>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>

        </div>
    </div>

    </div>
</body>

</html>