<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Raj Photo Studio</title>
</head>

<body>
  {{>navbar}}
  {{!-- her section start --}}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify content-center align-items-start flex-column">
            <h1>There are moments which money can't Buy </h1>
            <h1>But our Lens Can</h1>
            <p>we are the team of <span class="bold-style">Professional PhotoGraphers</span></p>
            <button class="btn-style btn-primary">Read More</button>
          </div>

          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="images/growth.svg" alt="I ma here">
            </figure>
          </div>
        </div>

      </div>
    </div>
  </div>

  {{!-- hero section ends --}}

  {{!--AboutUs start --}}
  {{>about}}

  {{!-- AboutUs section ends --}}

  {{!--Service start --}}
  {{>service}}

  {{!-- Service section ends --}}

  
  {{!--maps start --}}
  {{>maps}}

  {{!-- Maps section ends --}}

  {{!--maps start --}}
  {{>contact}}

  {{!-- Maps section ends --}}
  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>


</body>

</html>